PORT=8000

DB_CONNECTION_STRING=mongodb+srv://application:skripsi@socialabs.pjkgs8t.mongodb.net/?retryWrites=true&w=majority&readPreference=primary
DB_NAME=topic_modelling
DB_TWEETS=data_gathering

AZURE_OPENAI_ENDPOINT=https://research-etm.openai.azure.com/
AZURE_OPENAI_API_VERSION=2025-01-01-preview
AZURE_OPENAI_API_KEY=6YwpSUX7CKAhTAWRFieW7zj7Q3OoXJNtjGOCsvZsFnTN7g7MyX7SJQQJ99BGACYeBjFXJ3w3AAABACOGG9Qs
AZURE_OPENAI_DEPLOYMENT_NAME=o4-mini

RABBITMQ_URL=amqp://admin:admin123@70.153.61.68:5672/dev
RABBITMQ_CONSUME_QUEUE=dataGatheringQueue
RABBITMQ_COMPENSATION_QUEUE=topicCompensationQueue
RABBITMQ_PRODUCE_QUEUE=topicExchange
RABBITMQ_PRODUCE_COMPENSATION_QUEUE=topicExtractionCompensationQueue
RABBITMQ_EXCHANGE=topicModellingExchange
RABBITMQ_CONSUME_EXCHANGE=topicModellingExchange